@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* COLORS */
$yellow: #F4D04E;
$gray-950: #111111;
$gray-500: #6B6B6B;
$white: #FFFFFF;

/* TYPOGRAPHY */
$font: "Figtree", sans-serif;

/* SPACING */
$spacing-200: '16px';
$spacing-150: '12px';
$spacing-100: '8px';
$spacing-50: '4px';